/*COLOR PALET----------------------
BACKGROUND - rgb(19, 18, 18); and image
HEADINGS - goldenrod
TEXT #fff
IMEGE BOARDSR - #00adb5
LINKS
    LINK - #00adb5
    HOVER - Goldenrod
MAIN TEXT - #fff - White
-------------------------------*/

/*GLOBAL-------------------------*/
div {
    /* border: double cornflowerblue; */
    padding-right: 30px;
    padding-left: 30px;
}

/*BODY---------------------------*/
body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-color: rgb(19, 18, 18);
}

.wrapper {
  display: flex;
}

.wrapper div {
  flex: 1;
}

/*HEADINGS-----------------------*/
h1, h2, h3 {
    color: goldenrod;
    font-family: 'Leckerli One'. 'Zain'. 'Poiret One', sans-serif;
    font-size: 2em;
    padding-top: 10px;
    margin: 0 auto;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

/*TEXT----------------------*/
p {
	color: #fff;
    font-size: 1.2em;
	text-align: left;
}

ul, li, ol {
    color: #fff;
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
}

/*IMAGE----------------------*/
figure, figcaption {
    color: #fff;
    font-size: 1.1em;
	text-align: center;
}

img {
    border: 2px solid #00adb5;
    position: relative;
    height: 325px;
}

/*LINKS----------------------*/
a {
    color: #00adb5;
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

/*RATE THIS RECIPE SECTION----------------------*/
.rate {
	color: goldenrod;
	text-align: center;
    padding-bottom: 10px;
}

fieldset, legend, legend {
	color: #fff;
    font-size: 1.1em;
    margin: 0 auto;
}

/*FOOTER-------------------------*/
.footer {
    text-align: right;
    font-size: small;
}
